<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes da vacinação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="css-alinha-left" style="opacity: 1">
    <div class="css-alinha-avatar">
      <ion-avatar slot="start">
        <ion-img src="/assets/idiva.jpg"></ion-img>
      </ion-avatar>
      <div direction="left" tabindex="0" class="css-background-left">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
          </path>
        </svg>
        <span>
          <div>
            <p>Finalizamos tu registro y enviamos tus datos a la unidad más cercana a ti.</p>
            <p>La aplicación de su vacuna está prevista para el 26/09/2021 a las 15:30 horas.</p>
            <p>Recordando que es obligatorio aparecer con máscara.</p>
          </div>
        </span>
      </div>
    </div>
  </div>




  <!--<div class="content ">
    <ion-avatar slot="start" class="avatar">
      <ion-img src="/assets/idiva.jpg"></ion-img>
    </ion-avatar>
    <div>
      <span>
        <div>
          <p>Finalizamos tu registro y enviamos tus datos a la unidad más cercana a ti.</p>
          <p>La aplicación de su vacuna está prevista para el 26/09/2021 a las 15:30 horas.</p>
          <p>Recordando que es obligatorio aparecer con máscara.</p>
        </div>
      </span>
    </div>
  </div>-->
</ion-content>