<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Song</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="pessoaForm" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cpf</ion-label>
        <ion-input formControlName="cpf" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de Nascimento</ion-label>
        <ion-input formControlName="dataNascimento" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CEP</ion-label>
        <ion-input formControlName="cep" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add Song</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>