<ion-header>
  <ion-toolbar>
    <ion-title>
      IDIVA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="9" *ngIf="initialMessage != ''" class="message other-message">
        <b>{{currentUser}}</b><br>
        <span>{{initialMessage}}</span>
        <div class="time" text-right><br>
        </div>
        <div>
          <ion-button expand="block" fill="clear" (click)="startRegistration()" class="button-initial">
            <span>Comenzar</span>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    
    <div *ngIf="initialRegister">
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="currentUser == message.user" class="message other-message">
        <b>{{message.user}}</b><br>
        <span>{{message.msg}}</span>
       <!--<div class="time" text-right><br>
          {{message.createdAt | date:'short'}}
        </div>-->
        <div>
          <ion-button expand="block" fill="clear" class="button-initial" *ngIf="showButtonFinishRegistration" routerLink="/pessoa-detail">
            <span>Terminar</span>
          </ion-button>
        </div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="currentUser != message.user" class="message my-message">
        <b>{{message.user}}</b><br>
        <span>{{message.msg}}</span>
        <div class="time" text-right><br>
          {{message.createdAt | date:'short'}}
        </div>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="ligth">
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <form [formGroup]="peopleForm">
         <!-- <textarea autosize maxRows="3" [(ngModel)]="newMessage" class="message-input"></textarea>-->
          <ion-input  *ngIf="showInputName" class="message-input" formControlName="name"></ion-input>
          <ion-input *ngIf="showInputCpf"  class="message-input" formControlName="cpf"></ion-input>
          <ion-input *ngIf="showInputBirthDate"  class="message-input" formControlName="birthDate"></ion-input>
          <ion-input *ngIf="showInputCep"  class="message-input" formControlName="cep"></ion-input>
        </form>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" 
                    class="message-button" (click)="sendMessageName()" *ngIf="showInputName">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>

        <ion-button expand="block" fill="clear" color="primary" 
                    class="message-button" (click)="sendMessageCpf()" *ngIf="showInputCpf">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>

        <ion-button expand="block" fill="clear" color="primary" 
                    class="message-button" (click)="sendMessageBirthDate()" *ngIf="showInputBirthDate">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>

        <ion-button expand="block" fill="clear" color="primary" 
                    class="message-button" (click)="sendMessageCep()" *ngIf="showInputCep">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

