<ion-content>
  <!--<ion-item>

    <p>
    ¡Hola! Mi nombre es <b>Idiva</b>
  </p>
    <ion-avatar slot="start">
      <ion-img src="/assets/idiva.jpg"></ion-img>
    </ion-avatar>
  </ion-item>
  <ion-item>cidadão
    <ion-avatar slot="end">
      <ion-img src="/assets/cidadao.jpg"></ion-img>
    </ion-avatar>
  </ion-item>-->
  <!-- <div class="css-blo547">-->
  <!--Primeira pergunta-->
    <div class="css-1p2d4xx" style="opacity: 1; transform-origin: 50% 0% 0px; transform: none;">
      <div class="css-1fgi2wk">
        <ion-avatar slot="start">
          <ion-img src="/assets/idiva.jpg"></ion-img>
        </ion-avatar>
        <div direction="left" tabindex="0" class="css-pr2enj">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
            </path>
          </svg>
          <span>
            <div>
              <p>&nbsp;&nbsp; ¡Hola! Mi nombre es <b>Idiva.</b>
              </p>
              <p>&nbsp;&nbsp; Estou aqui para te ajudar e orientar sobre a vacinação contra a COVID-19.</p>
              <p>&nbsp;&nbsp; Para começar, digite seu <b>nome completo:</b></p>
              <!--<p> Olá <b>Brenda</b>,</p>
          <p>Sou a <b>Dani</b>. Vi que você já participou do Enem de anos anteriores.</p>
          <p>Você pode consultar comigo seus Resultados. Clique no ano de seu interesse.</p>-->
              <!--<div class="css-1z0j9gh">
          </div>-->
            </div>
          </span>
        </div>
      </div>
    </div>

    <!-- Resposta com nome da Pessoa-->
    <div class="css-tbhx5w" style="opacity: 1; transform-origin: 50% 0% 0px; transform: none;">
      <div class="css-1fgi2wk">
        <div direction="right" tabindex="0" class="css-m2k81c">
          <span>
            <div>
              <p>
                <b>&nbsp;&nbsp; Nome Completo</b>
                &nbsp;&nbsp;
                <!--<ion-input type="text"></ion-input>-->
                <ion-input type="text" required></ion-input>
              </p>
            </div>
          </span>

          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
            </path>
          </svg>
        </div>
        <ion-avatar slot="end">
          <ion-img src="/assets/cidadao.jpg"></ion-img>
        </ion-avatar>
      </div>
    </div>
</ion-content>